@import "tailwindcss";

@font-face {
  font-family: "TmoneyRoundWind";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TmoneyRoundWind";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "TmoneyRoundWind", sans-serif;
}

@theme {
  --color-primary-800: #412a1d;
  --color-primary-700: #5d3c28;
  --color-primary-600: #764e3a;
  --color-primary-400: #9f692d;
  --color-primary-200: #8d7569;
  --color-primary-50: #cbbfb3;
  --color-primary-10: #fffdf4;

  --color-point: #ffd100;
  --color-state-red: #ff120a;
}

button {
  cursor: pointer;
}

body {
  background-color: #ffffff;
}

@layer utilities {
  .font-heading1 {
    @apply text-[18px] font-bold leading-[25px] tracking-[0.4px];
  }

  .font-heading2 {
    @apply text-[14px] font-normal leading-[25px] tracking-[0.4px];
  }

  .font-body1 {
    @apply text-[16px] font-normal leading-[25px] tracking-[0.4px];
  }

  .font-body2 {
    @apply text-[14px] font-bold leading-[25px] tracking-[0.4px];
  }

  .font-body3 {
    @apply text-[14px] font-normal leading-[25px] tracking-[0.4px];
  }

  .font-caption {
    @apply text-[10px] font-normal leading-[14px] tracking-[0.4px];
  }

  .font-caption-strong {
    @apply text-[10px] font-bold leading-[20px] tracking-[0.4px];
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .animate-fade-in {
    animation: fade-in 1s ease-in-out;
  }

  @keyframes bounce-custom {
    0%,
    100% {
      transform: translateY(-3%);
    }
    50% {
      transform: translateY(3%);
    }
  }
  .animate-bounce-custom {
    animation: bounce-custom 3s infinite ease-in-out;
  }

  .shadow {
    box-shadow: 2px 2px 12px -3px rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-width: 768px) {
    input,
    textarea,
    select {
      font-size: 16px !important;
    }
  }
}
