@import "tailwindcss";

@font-face {
  font-family: "TmoneyRoundWind";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TmoneyRoundWind";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "TmoneyRoundWind", sans-serif;
}

@theme {
  --color-primary-800: #412a1d;
  --color-primary-700: #5d3c28; /* primary color */
  --color-primary-600: #764e3a;
  --color-primary-400: #8d7569;
  --color-primary-200: #cbbfb3;
  --color-primary-50: #fffdf4;

  --color-point: #ff5d0c;
  --color-state-green: #27d11e;
  --color-state-red: #ff120a;

  --color-primary-disabled: #a09cab;
}

button {
  cursor: pointer;
}

/* 전체 배경 적용 */
body {
  background-color: #ffff;
}

@layer utilities {
  .font-heading1 {
    font-size: 18px;
    font-weight: 700; /* Bold */
    line-height: 25px;
    letter-spacing: 0.4px;
  }

  .font-heading2 {
    font-size: 14px;
    font-weight: 400; /* Regular */
    line-height: 25px;
    letter-spacing: 0.4px;
  }

  .font-body1 {
    font-size: 16px;
    font-weight: 400; /* Regular */
    line-height: 25px;
    letter-spacing: 0.4px;
  }

  /* Body Regular Highlight */
  .font-body2 {
    font-size: 14px;
    font-weight: 700; /* Bold */
    line-height: 25px;
    letter-spacing: 0.4px;
  }

  /* Body Regular Basic */
  .font-body3 {
    font-size: 14px;
    font-weight: 400; /* Regular */
    line-height: 25px;
    letter-spacing: 0.4px;
  }

  /* Caption Basic */
  .font-caption {
    font-size: 10px;
    font-weight: 400; /* Regular */
    line-height: 14px;
    letter-spacing: 0.4px;
  }

  /* Caption Highlight */
  .font-caption-strong {
    font-size: 10px;
    font-weight: 700; /* Bold */
    line-height: 20px;
    letter-spacing: 0.4px;
  }

  /* primary button */
  .rounding-32 {
    border-radius: 6px;
  }

  /* small button */
  .rounding-16 {
    border-radius: 4px;
  }

  /* 검색 패널 그림자 */
  .shadow {
    box-shadow: 2px 2px 12px -3px rgba(0, 0, 0, 0.2);
  }
}
